In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Первичный анализ данных

In [2]:
data_path = '../data/full_data.csv'

In [3]:
df = pd.read_csv(data_path, index_col=0)

In [4]:
df.head()

,name_1,name_2,is_duplicate
pair_id,,,
1,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0
2,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0
3,"Rishichem Distributors Pvt., Ltd.",Dsa,0
4,Powermax Rubber Factory,Co. One,0
5,Tress A/S,Longyou Industries Park Zhejiang,0

In [6]:
df.groupby('is_duplicate').count()

              name_1  name_2
is_duplicate
0             494161  494161
1               3658    3658

Выборка сильно несбалансирована. Разделим ее на train и test сохранив процентное соотношение классов. Для теста выделим $10\%$ всей выборки.

In [32]:
X, y = df[['name_1', 'name_2']].values, df[['is_duplicate']].values

In [66]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, shuffle=True, test_size=0.1, random_state=681)

In [67]:
print(f'X_train: {X_train.shape}')
print(f'X_test: {X_test.shape}')
print()
print(f'y_train: {y_train.shape}')
print(f'y_test: {y_test.shape}')

X_train: (448037, 2)
X_test: (49782, 2)

y_train: (448037, 1)
y_test: (49782, 1)

In [68]:
y_train_coeff = round(
    y_train.sum() / (y_train.shape[0] - y_train.sum()), 4)
print(f'y_train: {y_train_coeff}')

y_test_coeff = round(
    y_test.sum() / (y_test.shape[0] - y_test.sum()), 4)
print(f'y_test: {y_test_coeff}')

y_train: 0.0074
y_test: 0.0074

Сохраним данные

In [69]:
df_train_data = pd.DataFrame(X_train, columns=['name_1', 'name_2'])
df_train_data['is_duplicate'] = y_train

df_test_data = pd.DataFrame(X_test, columns=['name_1', 'name_2'])
df_test_data['is_duplicate'] = y_test

In [70]:
df_train_data.to_csv('train_data.csv', index=False)

In [71]:
df_test_data.to_csv('test_data.csv', index=False)

# Проверка данных

In [72]:
train_data_path = '../data/train_data.csv'
test_data_path = '../data/test_data.csv'

In [73]:
train_data = pd.read_csv(train_data_path)
test_data = pd.read_csv(test_data_path)

In [82]:
print(train_data.shape)
train_s = train_data['is_duplicate'].sum()
round(train_s / (train_data['is_duplicate'].shape[0] - train_s), 4)

(448037, 3)

0.0074

In [83]:
print(test_data.shape)
test_s = test_data['is_duplicate'].sum()
round(test_s / (test_data['is_duplicate'].shape[0] - test_s), 4)

(49782, 3)

0.0074