In [1]:
import random

import numpy as np
import pandas as pd

In [2]:
train_data_path = '../data/train_data.csv'
test_data_path = '../data/test_data.csv'

In [3]:
train_data = pd.read_csv(train_data_path)
test_data = pd.read_csv(test_data_path)

# Вариант бэггинга

In [4]:
train_data.shape

(441099, 3)

In [5]:
train_data.head(3)

,name_1,name_2,is_duplicate
0,Texxon Chemicals Inc,AL,0
1,Morgan Polimer Seals S De Rl De Cv,Usa,0
2,Weiler,Shanghai Jixiang Automobile Roof Trimming Co Ltd,0

In [6]:
count_classes_df = train_data.groupby('is_duplicate').count()
count_classes_df

              name_1  name_2
is_duplicate
0             437981  437981
1               3118    3118

In [7]:
positive_n = count_classes_df.loc[1, 'name_1']
negative_n = count_classes_df.loc[0, 'name_1']

In [8]:
negative_n // positive_n

140

In [9]:
bag_size = int(positive_n*1.5)
bag_size

4677

In [10]:
negative_pairs_df = train_data[train_data['is_duplicate'] == 0]

In [11]:
bags = 10
random.seed = 456

bags_indexes = np.array([
    random.sample(range(negative_n), bag_size) for _ in range(bags)
])

In [12]:
bags_indexes.shape

(10, 4677)