In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data_path = '../data/train_data.csv'
test_data_path = '../data/test_data.csv'

In [3]:
train_data = pd.read_csv(train_data_path)
test_data = pd.read_csv(test_data_path)

# Вариант бэггинга

In [4]:
train_data.shape

(441099, 3)

In [7]:
train_data.head(3)

,name_1,name_2,is_duplicate
0,Texxon Chemicals Inc,AL,0
1,Morgan Polimer Seals S De Rl De Cv,Usa,0
2,Weiler,Shanghai Jixiang Automobile Roof Trimming Co Ltd,0

In [10]:
count_classes_df = train_data.groupby('is_duplicate').count()
count_classes_df

              name_1  name_2
is_duplicate
0             437981  437981
1               3118    3118

In [15]:
positive_n = count_classes_df.loc[1, 'name_1']
negative_n = count_classes_df.loc[0, 'name_1']

In [17]:
negative_n // positive_n

140

In [27]:
bag_size = int(positive_n*1.5)
bag_size

4677

In [25]:
negative_pairs_df = train_data[train_data['is_duplicate'] == 0]

In [35]:
bags = 10
np.seed = 456
bags_indexes = np.random.randint(0, negative_n, (bag_size, bags))

In [36]:
bags_indexes.shape

(4677, 10)